body {
  margin-left: 5px;
  margin-right: 5px;
}

body div.content {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

div,header h1.underlined {
  text-decoration: underlined;
}

div.header h1.underlined a {
  color: black;
}

div,header h1.underlined a:visited {
  color: black;
}

div.header h1.underlined a:active {
  color: black;
}

div.header h1.underlined a:hover {
  color: darkBlue;
}

.footer {
  text-align: center;
}

.footer_border {
  border-top: 1px solid lightGrey;
  margin: 1.5em 0.5em 0;
}

.footer_links {
  font-size: 0.75em;
  padding-top: 0.5em;
}

div.attribution_notice {
  text-align: center;
  font-size: 0.75em;
  margin-left: auto;
  margin-right: auto;
}

p.note {
  background: url("/images/tab_note.gif") no-repeat scroll left top #FFF9D8;
  border: medium none;
  margin-left: 0;
  margin-top: 0.25em;
  padding: 1.25em 1.25em 1.25em 48px;
}

p.warning {
  background: url("/images/tab_warning.gif") no-repeat scroll left top #F9D9D8;
  border: medium none;
  margin-left: 0;
  margin-top: 0.25em;
  padding: 1.25em 1.25em 1.25em 48px;
}
