---
layout: default
title: Project Lexicon (glossary)
---
<p id="intro">
A list of terms specific to the PanOps project, how they are used, and if applicable an example of their use.
</p>

<dl>
  <!--
  Please use the following style guide when adding terms to the Lexicon.
  
  <div id="<%= $TERM.replace(' ','_') %>">
    <dt>
      <%= html_escape $TERM %>
    </dt>
    <dd>
      <%= html_escape $TERM.definition %>
    </dd>
  </div>
  
  To link to a specific term, use the URL /lexicon#<%= $TERM.replace(' ','_') %>
  -->
  
  <div id="Developer_Operator">
    <dt>
      Developer Operator
    </dt>
    <dd>
      An idividual user and administrator of an installation of the PanOps platform. Typically responsible for ensuring the smooth operation of applications within a PanOps platform environment. Also known as a DO, or a DOer.
    </dd>
  </div>
  
  <div id="DO">
    <dt>
      DO
    </dt>
    <dd>
      see '<a href="#Developer_Operator">Developer Operator</a>'.
    </dd>
  </div>
  
  <div id="edge_PanOps">
    <dt>
      edge PanOps
    </dt>
    <dd>
      The PanOps codebase at the HEAD of the <a href="https://github.com/panops/panops/tree/develop">develop branch</a>, that is, the most recent version of PanOps available.
    </dd>
  </div>
  
</dl>
